extends base.pug

block script 
    script(src="/static/js/contact.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/contact.css
block content  