extends base.pug

block script
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/aboutus.css
        include ../static/css/aboutusphone.css
block content
    section#aboutus
    section#about-card
        div#sub-about-card1.sub-about-card-class
            button#about.aboutus-btn
                p Explore
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, iste! Placeat odio quos quasi. Maiores id assumenda eligendi ullam magni.
        div#sub-about-card2.sub-about-card-class
            button#us.aboutus-btn 
                p More
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quis sequi deleniti explicabo, dolorum distinctio numquam sed ipsam fugiat officiis.
        div#sub-about-card3.sub-about-card-class