doctype html 
html 
    head   
        title Ekwik Digital 
        block script 
        block style 
    body
    nav#contact-nav 
        ul 
            li
                span.contact-nav-color <i class="fas fa-blender-phone"></i> office no 
                | 011-42175423 
            li
                span.contact-nav-color <i class="fas fa-mobile-alt"></i> Mobile no 
                | +91 9717666076  
            li
                span.contact-nav-color <i class="fas fa-envelope"></i> Email 
                | hello@ekwikdigital.com
    section#phonenav 
        button#hamburger 
            div#bar1.bar 
            div#bar2.bar 
            div#bar3.bar 
        div#logo
    section#menu-section 
        div#image.inside-menu-section   
        div#main-menu.inside-menu-section   
            ul 
                li #[a(href="/") Home]
                li #[a(href="/aboutus") About Us]
                li #[a(href="/ourwork") Our Work] 
                li #[a(href="/contact") Contact] 
    div#service-menu
        div#Search-engine-optimization.service-menu-class
            h3 
                | <i class="fab fa-wpexplorer"></i> Search Engine Optimization
            div#Search-engine-optimization-Sub-menu.service-menu-sub-menu
                ul
                    li #[a(href="/") SEO Service]
                    li #[a(href="/") local SEO]
                    li #[a(href="/") E-Commerce SEO]
                    li #[a(href="/") Mobile SEO Services]
                    li #[a(href="/") Search Engine Optimization]
                    li #[a(href="/") Company]
        div#Packages.service-menu-class
            h3 
                | <i class="fab fa-wpexplorer"></i> Packages
            div#Packages-main-Sub-menu.service-menu-sub-menu
                div.Packages-Sub-menu
                    ul
                        li #[a(href="/") SEO Packages]
                        li #[a(href="/") SMO Packages]
                        li #[a(href="/") Local SEO Packages]
                        li #[a(href="/") Mobile SEO Packages]
                        li #[a(href="/") ORM Packages]
                        li #[a(href="/") CRO Packages]
                div.Packages-Sub-menu
                    ul
                        li #[a(href="/") PPC Packages]
                        li #[a(href="/") Design/ Development Packages]
                        li #[a(href="/") Content Writing Packages]
                        li #[a(href="/") App Store Packages]
                        li #[a(href="/") Link Buliding Packages]
                        li #[a(href="/") Content Marketing Packages]
                div.Packages-Sub-menu
                    ul
                        li #[a(href="/") Small Business SEO Packages]
                        li #[a(href="/") Digital Marketing Packages]
                        li #[a(href="/") Video Marketing Packages]
                        li #[a(href="/") SEO Pricing]
                        li #[a(href="/") Guest Posting Service]
        div#Reseller.service-menu-class
            h3 
                | <i class="fab fa-wpexplorer"></i> Reseller
            div#Reseller-Sub-menu.service-menu-sub-menu
                ul
                    li #[a(href="/") SEO Reseller]
                    li #[a(href="/") White labelled SEO]
                    li #[a(href="/") SEO Reseller Packages Plan]
                    li #[a(href="/") Outsource SEO India]
                    
        div#Reputation-Management.service-menu-class
            h3 
                | <i class="fab fa-wpexplorer"></i> Reputation
            div#Reputation-Management-Sub-menu.service-menu-sub-menu
                ul
                    li #[a(href="/") Corporate Reputation Management]
        div#Development-Solutions.service-menu-class
            h3 
                | <i class="fab fa-wpexplorer"></i> Development Solution
            div#Development-main-Solutions.service-menu-sub-menu
                div.Development-Solutions-Sub-menu
                    ul
                        li #[a(href="/") Website Designing]
                        li #[a(href="/") Web Development]
                        li #[a(href="/") WordPress Development]
                        li #[a(href="/") Responsive Design]
                        li #[a(href="/") Cms Development]
                        li #[a(href="/") Custom PHP Development]
                        li #[a(href="/") Android APP Development]
                div.Development-Solutions-Sub-menu
                    ul
                        li #[a(href="/") Logo Designing]
                        li #[a(href="/") E-Commerce Development]
                        li #[a(href="/") Website Redesigning]
                        li #[a(href="/") Mobile APP Development]
                        li #[a(href="/") Magento Development]
                        li #[a(href="/") ASP Dot Net]
        div#Social-Media.service-menu-class
            h3 
                | <i class="fab fa-wpexplorer"></i> Social Media
            div#Social-Media-Sub-menu.service-menu-sub-menu
                ul
                    li #[a(href="/") Social Media Marketing]
                    li #[a(href="/") Youtube Marketing]
        div#Others.service-menu-class
            h3 
                | <i class="fab fa-wpexplorer"></i> Others
            div#Others-main.service-menu-sub-menu
                div.Others-Sub-menu
                    ul
                        li #[a(href="/") PPC Service]
                        li #[a(href="/") Conversion Optimization]
                        li #[a(href="/") APP Store Optimization]
                        li #[a(href="/") Link Buliding Services]
                        
                div.Others-Sub-menu
                    ul
                        li #[a(href="/") SEO Marketing Agency]
                        li #[a(href="/") Mobile Website Design]
                        li #[a(href="/") Online Marketing Company]
                        li #[a(href="/") Search Engine Marketing Service]

    section#phone-menu.is-active
        ul 
                li #[a(href="/") Home]
                li #[a(href="/aboutus") About Us]
                li #[a(href="/ourwork") Our Work] 
                li #[a(href="/contact") Contact]  
        div#divider
                 
        ul 
                li #[a(href="/") Services ]
                li #[a(href="/") Search Engine Optimization]
                li #[a(href="/") Packages]
                li #[a(href="/") Reseller]
                li #[a(href="/") Reputation]
                li #[a(href="/") Development Solution]
                li #[a(href="/") Social Media]
                li #[a(href="/") Others]  
        

    block content  
    div#footer-menu 
        div#footer-ekwik.footer-menu-class
            h2 Ekwik Digital
            p  So, are you ready to get web development, marketing, and SEO services in India? Check out our affordable packages for the best digital marketing services. You need our services as you deserve more leads than your competitor. 
            p <i class="fab fa-facebook-square"></i> <i class="fab fa-whatsapp-square"></i> <i class="fab fa-youtube-square"></i> <i class="fab fa-linkedin"></i>
        div#footer-service.footer-menu-class
            h2 Our Service
            ul 
                li #[a(href="/") Search Engine Optimization]
                li #[a(href="/") Packages]
                li #[a(href="/") Reseller]
                li #[a(href="/") Reputation]
                li #[a(href="/") Development Solution]
                li #[a(href="/") Social Media]
                li #[a(href="/") Others] 
        div#footer-navbar.footer-menu-class
            h2 Navigation
            ul 
                li #[a(href="/") Home]
                li #[a(href="/aboutus") About Us]
                li #[a(href="/ourwork") Our Work] 
                li #[a(href="/contact") Contact] 
        div#footer-address.footer-menu-class
            div#sub-footer-contact.sub-footer-class
                h2 Contact 
                p <i class="fas fa-blender-phone"></i> Office no <br> 011-42175423  
                p <i class="fas fa-mobile-alt"></i> Mobile no <br>+91 9717666076   
                p <i class="fas fa-envelope"></i> Email <br> hello@ekwikdigital.com   
            div#sub2-footer-address.sub-footer-class
                h2 Address 
                p A-20, First Floor, Guru Nanak Pura, Street No. 3, Laxmi Nagar, Delhi – 110092, Landmark – In Front Of V3s Mall 