doctype html 
html 
    head   
        title Ekwik Digital 
        block script 
        block style 
    body
    nav#contact-nav 
        ul 
            li
                span.contact-nav-color | office no |
                | 1235689 
            li
                span.contact-nav-color | Mobile no |
                | 1235689 
            li
                span.contact-nav-color | Email |
                | 1235689 
    section#menu-section 
        div#image.inside-menu-section   
        div#main-menu.inside-menu-section   
            ul 
                li #[a(href="/") Home]
                li #[a(href="/aboutus") About Us]
                li #[a(href="/ourwork") Our Work] 
                li #[a(href="/contact") Contact] 
    div#service-menu
        div#Search-engine-optimization.service-menu-class
            h3 
                | <i class="fab fa-wpexplorer"></i> Search Engine Optimization
            div#Search-engine-optimization-Sub-menu.service-menu-sub-menu
                ul
                    li #[a(href="/") SEO Service]
                    li #[a(href="/") local SEO]
                    li #[a(href="/") E-Commerce SEO]
                    li #[a(href="/") Mobile SEO Services]
                    li #[a(href="/") Search Engine Optimization]
                    li #[a(href="/") Company]
        div#Packages.service-menu-class
            h3 
                | <i class="fab fa-wpexplorer"></i> Packages
            div#Packages-main-Sub-menu.service-menu-sub-menu
                div.Packages-Sub-menu
                    ul
                        li #[a(href="/") SEO Packages]
                        li #[a(href="/") SMO Packages]
                        li #[a(href="/") Local SEO Packages]
                        li #[a(href="/") Mobile SEO Packages]
                        li #[a(href="/") ORM Packages]
                        li #[a(href="/") CRO Packages]
                div.Packages-Sub-menu
                    ul
                        li #[a(href="/") PPC Packages]
                        li #[a(href="/") Design/ Development Packages]
                        li #[a(href="/") Content Writing Packages]
                        li #[a(href="/") App Store Packages]
                        li #[a(href="/") Link Buliding Packages]
                        li #[a(href="/") Content Marketing Packages]
                div.Packages-Sub-menu
                    ul
                        li #[a(href="/") Small Business SEO Packages]
                        li #[a(href="/") Digital Marketing Packages]
                        li #[a(href="/") Video Marketing Packages]
                        li #[a(href="/") SEO Pricing]
                        li #[a(href="/") Guest Posting Service]
        div#Reseller.service-menu-class
            h3 
                | <i class="fab fa-wpexplorer"></i> Reseller
            div#Reseller-Sub-menu.service-menu-sub-menu
                ul
                    li #[a(href="/") SEO Reseller]
                    li #[a(href="/") White labelled SEO]
                    li #[a(href="/") SEO Reseller Packages Plan]
                    li #[a(href="/") Outsource SEO India]
                    
        div#Reputation-Management.service-menu-class
            h3 
                | <i class="fab fa-wpexplorer"></i> Reputation
            div#Reputation-Management-Sub-menu.service-menu-sub-menu
                ul
                    li #[a(href="/") Corporate Reputation Management]
        div#Development-Solutions.service-menu-class
            h3 
                | <i class="fab fa-wpexplorer"></i> Development Solution
            div#Development-main-Solutions.service-menu-sub-menu
                div.Development-Solutions-Sub-menu
                    ul
                        li #[a(href="/") Website Designing]
                        li #[a(href="/") Web Development]
                        li #[a(href="/") WordPress Development]
                        li #[a(href="/") Responsive Design]
                        li #[a(href="/") Cms Development]
                        li #[a(href="/") Custom PHP Development]
                        li #[a(href="/") Android APP Development]
                div.Development-Solutions-Sub-menu
                    ul
                        li #[a(href="/") Logo Designing]
                        li #[a(href="/") E-Commerce Development]
                        li #[a(href="/") Website Redesigning]
                        li #[a(href="/") Mobile APP Development]
                        li #[a(href="/") Magento Development]
                        li #[a(href="/") ASP Dot Net]
        div#Social-Media.service-menu-class
            h3 
                | <i class="fab fa-wpexplorer"></i> Social Media
            div#Social-Media-Sub-menu.service-menu-sub-menu
                ul
                    li #[a(href="/") Social Media Marketing]
                    li #[a(href="/") Youtube Marketing]
        div#Others.service-menu-class
            h3 
                | <i class="fab fa-wpexplorer"></i> Others
            div#Others-main.service-menu-sub-menu
                div.Others-Sub-menu
                    ul
                        li #[a(href="/") PPC Service]
                        li #[a(href="/") Conversion Optimization]
                        li #[a(href="/") APP Store Optimization]
                        li #[a(href="/") Link Buliding Services]
                        
                div.Others-Sub-menu
                    ul
                        li #[a(href="/") SEO Marketing Agency]
                        li #[a(href="/") Mobile Website Design]
                        li #[a(href="/") Online Marketing Company]
                        li #[a(href="/") Search Engine Marketing Service]

    block content
    footer#footer01
        div#footer-menu.footer-menu-class
            div#footer-menu-card1.footer-menu-card-class
                div#footer-card1-image.footer-card-image-class
                h4 HOME      
            div#footer-menu-card2.footer-menu-card-class
                div#footer-card2-image.footer-card-image-class
                h4 ABOUT US      
            div#footer-menu-card3.footer-menu-card-class
                div#footer-card3-image.footer-card-image-class
                h4 SERVICES      
            div#footer-menu-card4.footer-menu-card-class
                div#footer-card4-image.footer-card-image-class
                h4 CONTACT US      
            div#footer-menu-card4.footer-menu-card-class
                div#footer-card4-image.footer-card-image-class
                h4 CONTACT US      
            div#footer-menu-card4.footer-menu-card-class
                div#footer-card4-image.footer-card-image-class
                h4 CONTACT US      
            div#footer-menu-card4.footer-menu-card-class
                div#footer-card4-image.footer-card-image-class
                h4 CONTACT US      
            div#footer-menu-card4.footer-menu-card-class
                div#footer-card4-image.footer-card-image-class
                h4 CONTACT US      
            div#footer-menu-card4.footer-menu-card-class
                div#footer-card4-image.footer-card-image-class
                h4 CONTACT US   
    div#footer2-menu 
        div#footer2-service.footer2-menu-class
            ul 
                li Search Engine Optimization
                li Packages
                li Reseller
                li Reputation 
                li Development Solution
                li Social Media
                li Others
        div#footer2-address.footer2-menu-class
            div#sub1-footer2.sub-footer2-class
                h4 Contact 
                p |Office no| <br> 9989898989  
                p |Mobile no| <br> 9989898989  
                p |Email| <br> 9989898989  
            div#sub2-footer2.sub-footer2-class
                h4 Address 
                p add content 