extends base.pug

block script 
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js")
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>       

block style 
    style 
        include ../static/css/home.css
        include ../static/css/homephone.css

        
block content
    div.slider
        div.slides 
            input(type="radio" name="radio-btn" id="radio1")
            input(type="radio" name="radio-btn" id="radio2")
            input(type="radio" name="radio-btn" id="radio3")
            //- input(type="radio" name="radio-btn" id="radio4")
            div.slide.first
                img(src="../static/image/digital-marketing.jpg", alt="", srcset="")
            div.slide.first
                img(src="../static/image/slide02.jpg", alt="", srcset="")
            div.slide.first
                //- img(src="../static/image/img3.jpg", alt="", srcset="")
            div.slide.first
                img(src="../static/image/img4.jpg", alt="", srcset="")
        
            div.navigation-auto
                div.auto-btn1
                div.auto-btn2
                div.auto-btn3
                
            div.navigation-manual
                label.manual-btn(for="radio1") 
                label.manual-btn(for="radio2") 
                label.manual-btn(for="radio3") 
                
    div#digital-marketing-image01
    div#digital-marketing1
        div#digital-marketing1-image.sub-digital-marketing1
            h2 Ekwik Digital 
            p Ekwik Digital is the best and top digital marketing company in India, working for years. Having more than 4500 satisfied clients and over 1200 active clients is not an easy task. But we made this possible with our high-quality services and transparent working model. The expert team of Ekwik Digital has put much effort and keeps putting in all the projects. Here you get a personalized marketing solution that will boost your sales and customer reach at the ultimate level.  
            p We are committed to providing quality web development, CRM, and digital marketing services. So, you can find your business needs, whether you are an individual, small or medium business. 
            p From affordable web development to SEO services, all are made considering your needs. Thus, if you want services from the best digital marketing company. Then you can surely tell your business goals to Ekwik's experts. With a vast expert team, you can have a dedicated professional. We have the facility to ensure our clients get the best digital marketing services under a tight budget. 
        div#digital-marketing1-content.sub-digital-marketing1 
    div#card-container 
        div#card1.cards
            div#card1-image.cards-image
            h3 Digital Services
                     
        div#card2.cards
            div#card2-image.cards-image
            h3 Website Development
           
            
        div#card3.cards
            div#card3-image.cards-image
            h3 App Development
    
           
    div#ekwik-digital-difference-id1.ekwik-digital-difference-class
        div#ekwik-digital-difference-image-id1.ekwik-digital-difference-image-class
        div#ekwik-digital-difference-content-id1.ekwik-digital-difference-content-class
            h2 How is Ekwik Digital Different from the Different Digital Marketing Companies? 
            p We are the SEO Agency that provides 100% result-driven marketing services. 
            p Taking our guaranteed services, you can see the result just from the month. We have a team of the best SEO experts in India, and they work on your project. 
            p Finding the best digital marketing company is a tricky task. But now, it's easy for you because, at Ekwik, you get a dedicated project manager. 
            p Our weekly and monthly reports will help you to stay tuned for your progress. You know the importance of this facility that you get with us. 
            p We are the top SEO company and also the best digital marketing company in India. Get what you need with our 360-degree marketing services. 
    div#ratings-main
        div#sub-rating.sub-rating-class
            h1 On Time Delivery
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        div#sub-rating.sub-rating-class
            h1 Satisfied Customers
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        div#sub-rating.sub-rating-class
            h1 4.8+ Ratings
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
    
    
    div#ekwik-digital-difference-id2.ekwik-digital-difference-class
        div#ekwik-digital-difference-content-id2.ekwik-digital-difference-content-class
            h2 What are the Best Services of Ekwik Digital? 
            p From simple blog websites to complex eCommerce website development facilities are available. Our developers have worked on hundreds of web development projects. Hence they can make the best website for your business by implementing SEO guidelines.  
            p Our digital marketing services make us the top-rated digital marketing company in Delhi. It is because we have flexible and essential marketing packages. That will multiply your business leads in a few months.             p Finding the best digital marketing company is a tricky task. But now, it's easy for you because, at Ekwik, you get a dedicated project manager. 
            p If you are finding SEO services in Delhi, then stay with us. Because our best SEO expert knows what Google likes. Hence, they can bring massive traffic to your website organically. PPC is one of the best ways to generate leads in the short run. But you need the best digital marketing company like Ekwik. 
        div#ekwik-digital-difference-image-id22.ekwik-digital-difference-image-class
    div#service-card
        div#service-card-s1.service-card-s-class
            div#service-card1.service-card-class
                div#sub-service-card1-image.service-card-image-class
                h2 Search Engine Optimization
            div#service-card2.service-card-class
                div#sub-service-card2-image.service-card-image-class
                h2 Social Media Optimization
    
        div#service-card-s2.service-card-s-class
            div#service-card3.service-card-class
                div#sub-service-card3-image.service-card-image-class
                h2 Pay Per Click
            div#service-card4.service-card-class
                div#sub-service-card4-image.service-card-image-class
                h2 Web Development
    section#benefits 
        h1 Key Benefits you get only with Ekwik Digital 
        div#benefits-sub-section
            div#benefits-image
            div#benefits-content
                ul 
                    li <i class="fas fa-fire"></i> Guaranteed results even in highly competitive tasks such as SEO.
                    li <i class="fas fa-fire"></i> Industry-Level quality of services.
                    li <i class="fas fa-fire"></i> Easy to scale digital marketing packages.
                    li <i class="fas fa-fire"></i> Experience in ranking hundreds of website for thousands of keywords.
                    li <i class="fas fa-fire"></i> Creative and eperienced content creators.
                    li <i class="fas fa-fire"></i> Never-ending number of satisfied customers.
                    li <i class="fas fa-fire"></i> Affordable services are suitable for small to enterprise level businesses.
                    li <i class="fas fa-fire"></i> The transparency provided through live performance tracking.
                    li <i class="fas fa-fire"></i> Dedicated teams and project managers for clients.
                    li <i class="fas fa-fire"></i> Tailor-made digital marketing packages.
   
   
    div#ekwik-digital-difference-id2.ekwik-digital-difference-class
        div#ekwik-digital-difference-content-id2.ekwik-digital-difference-content-class
            h2 Hire us! 
            p Customers are more likely to trust the brand if they have a social presence. Hence, if you don't know how to do SMO and SMM for your business. Let us do this for you so you can directly influence your customer.             
            p Our digital marketing services make us the top-rated digital marketing company in Delhi. It is because we have flexible and essential marketing packages. That will multiply your business leads in a few months.             
            p Finding the best digital marketing company is a tricky task. But now, it's easy for you because, at Ekwik, you get a dedicated project manager.              
            p 
                span#pcolor So, are you ready to get web development, marketing, and SEO services in India? Check out our affordable packages for the best digital marketing services. You need our services as you deserve more leads than your competitor. 
        div#ekwik-digital-difference-image-id2.ekwik-digital-difference-image-class