extends base.pug

block script 
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css
        include ../static/css/portfolio.css
        include ../static/css/portfoliophone.css

block content
    h1#main-heading 
        | Poject's We're Proud to Show off
    Section#main-section1 
        div#btn-div
            Button
                b  ALL 
            Button
                b WEB DEVELOPMENT
            Button
                b WORDPRESS
            Button
                b WEB DESIGN
    section#main-section2.project-section
        div#project1.projects
            div#img1.img 
                |#[a(href="https://fb.com/ekwikdigital") <img src="../static/image/1.png" alt="" id="image" class="image" srcset=""> </img>]
            h1#project-name 
                | Project name
            p This is infomation about project
            h3#project-develop 
                | coding
            button.project-btn 
                |#[a(href="https://fb.com/ekwikdigital") Explore]
        div#project2.projects
            div#img1.img 
                |#[a(href="https://fb.com/ekwikdigital") <img src="../static/image/1.png" alt="" id="image" class="image" srcset="">]
            h1#project-name 
                | Project name
            p This is infomation about project
            h3#project-develop 
                | coding
            button.project-btn 
                |#[a(href="https://fb.com/ekwikdigital") Explore]
        div#project3.projects
            div#img1.img 
                |#[a(href="https://fb.com/ekwikdigital") <img src="../static/image/1.png" alt="" id="image" class="image" srcset="">]
            h1#project-name 
                | Project name
            p This is infomation about project
            h3#project-develop 
                | coding
            button.project-btn 
                |#[a(href="https://fb.com/ekwikdigital") Explore]
    section#main-section3.project-section
        div#project4.projects
            div#img1.img 
                |#[a(href="https://fb.com/ekwikdigital") <img src="../static/image/1.png" alt="" id="image" class="image" srcset="">]
            h1#project-name 
                | Project name
            p This is infomation about project
            h3#project-develop 
                | coding
            button.project-btn 
                |#[a(href="https://fb.com/ekwikdigital") Explore]
        div#project5.projects
            div#img1.img 
                |#[a(href="https://fb.com/ekwikdigital") <img src="../static/image/1.png" alt="" id="image" class="image" srcset="">]
            h1#project-name 
                | Project name
            p This is infomation about project
            h3#project-develop 
                | coding
            button.project-btn 
                |#[a(href="https://fb.com/ekwikdigital") Explore]
        div#project6.projects
            div#img1.img 
                |#[a(href="https://fb.com/ekwikdigital") <img src="../static/image/1.png" alt="" id="image" class="image" srcset="">]
            h1#project-name 
                | Project name
            p This is infomation about project
            h3#project-develop 
                | coding
            button.project-btn 
                |#[a(href="https://fb.com/ekwikdigital") Explore]
    section#main-section4.project-section
        div#project7.projects
            div#img1.img 
                |#[a(href="https://fb.com/ekwikdigital") <img src="../static/image/1.png" alt="" id="image" class="image" srcset="">]
            h1#project-name 
                | Project name
            p This is infomation about project
            h3#project-develop 
                | coding
            button.project-btn 
                |#[a(href="https://fb.com/ekwikdigital") Explore]
        div#project8.projects
            div#img1.img 
                |#[a(href="https://fb.com/ekwikdigital") <img src="../static/image/1.png" alt="" id="image" class="image" srcset="">]
            h1#project-name 
                | Project name
            p This is infomation about project
            h3#project-develop 
                | coding
            button.project-btn 
                |#[a(href="https://fb.com/ekwikdigital") Explore]
        div#project9.projects
            div#img1.img 
                |#[a(href="https://fb.com/ekwikdigital") <img src="../static/image/1.png" alt="" id="image" class="image" srcset="">]
            h1#project-name 
                | Project name
            p This is infomation about project
            h3#project-develop 
                | coding
            button.project-btn 
                |#[a(href="https://fb.com/ekwikdigital") Explore]
