extends base.pug

block script 
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/seo-service.css
        include ../static/css/headerfooter.css
        include ../static/css/homephone.css

block content 
    div#trial
        h1 coming soon