* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(207,236,224);
}

#contact-nav {
    background-color: rgb(241, 199, 100);
    color: rgb(0, 0, 0);
}
#contact-nav ul {
    display: flex;
    align-items: left;
    list-style: none;

}
#contact-nav ul li {
    margin-left: 50px;
    nav-right: 50px;
    padding: 10px;
}
.contact-nav-color {
    color: rgb(0, 0, 0);
}
#menu-section {
    display: flex;
    justify-content: space-evenly;
}
#image.inside-menu-section  {
    background-image: url(../image);
    /* border: 2px solid red; */
    width: 200px;
    height: 80px;
}
#main-menu.inside-menu-section {
    width: 800px;
    height: 80px;
    margin-left: 200px;
    padding-left: 200px;
    
}
#main-menu.inside-menu-section ul {
    display: flex;
    padding: 15px;

}
#main-menu.inside-menu-section ul li {
    list-style: none;
    margin: 20px;
    transition: all 0.2s ease;
}
#main-menu.inside-menu-section ul li:hover {
    transform: scale(1.2);
    background: black;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;

}
#main-menu.inside-menu-section ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#main-menu.inside-menu-section ul li a:hover {
    color: rgb(241, 199, 100);
}
#service-menu {
    display: flex;
    justify-content: space-evenly;
    color: black;
    background-color: rgb(241, 199, 100);
    height: 50px;
    cursor: pointer;
}
.service-menu-class {
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 10px;
}

.service-menu-sub-menu {
    background-color: rgb(8, 7, 7);
    color: white;
    border-radius: 10px;
   
}
.service-menu-sub-menu ul li {
    margin: 10px;
    padding: 10px;
    list-style: none;
}
.service-menu-sub-menu ul li a {
    text-decoration: none;
    color: white;
}
.service-menu-sub-menu ul li:hover a {
    color: black;
}
.service-menu-sub-menu ul li:hover {
    background-color: rgb(241, 199, 100);
    border-radius: 10px;
}
#Search-engine-optimization-Sub-menu {
    position: absolute;
    left: 100px;
    top: 160px;
    visibility: hidden;
}
#Search-engine-optimization:hover #Search-engine-optimization-Sub-menu{
    visibility: visible;    
}

#Packages-main-Sub-menu {
    display: flex;
    position: absolute;
    left: 320px;
    top: 160px;
    visibility: hidden;
}
#Packages:hover #Packages-main-Sub-menu {
    visibility: visible;
}
#Reseller-Sub-menu {
    display: flex;
    position: absolute;
    left: 520px;
    top: 160px;
    visibility: hidden;
}
#Reseller:hover #Reseller-Sub-menu {
    visibility: visible;
}
#Reputation-Management-Sub-menu {
    display: flex;
    position: absolute;
    left: 720px;
    top: 160px;
    visibility: hidden;
}
#Reputation-Management:hover #Reputation-Management-Sub-menu {
    visibility: visible;
}
#Development-main-Solutions {
    display: flex;
    position: absolute;
    left: 820px;
    top: 160px;
    visibility: hidden;
}
#Development-Solutions:hover #Development-main-Solutions {
    visibility: visible;
}
#Social-Media-Sub-menu {
    display: flex;
    position: absolute;
    left: 1120px;
    top: 160px;
    visibility: hidden;
}
#Social-Media:hover #Social-Media-Sub-menu {
    visibility: visible;
}
#Others-main {
    display: flex;
    position: absolute;
    left: 1120px;
    top: 160px;
    visibility: hidden;
}
#Others:hover #Others-main {
    visibility: visible;
}

#Contact-image {
    height: 560px;
    background: no-repeat center center/cover url(../static/image/contact-image01.jpg);
}

#section-contact {
    display: flex;
    width: 80%;
    margin:auto ;

}
#contact-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 20px;
    padding: 50px;
    /* border: 2px solid red; */
    margin-left:0px ;
    box-shadow: 5px 5px 12px black;
    transition: transform 0.5 ease;
}
#contact-form:hover {
    transform: scale(1.02);
}
#contact-form p {
    margin: 10px 0px 10px 0px;
}
#contact-info {
    margin: 20px;
    padding: 50px;
    /* border: 2px solid red; */
    margin-right: 0px;
}
#contact-form input {
    border: 2px solid rgb(0, 0, 0);
    background: black;
    color: white;
    outline: none;
    border-bottom:2px solid white ;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 250px;
    transition: all 0.7s ease;

}

#contact-form input:hover {
    border-bottom:2px solid rgb(255, 131, 49) ;
    width: 100%;
}

.sub-section-contact {
    height: 500px;
    width: 100%;
}
#form-text-area {
    border: 2px solid rgb(0, 0, 0);
    background: black;
    color: white;
    outline: none;
    border-bottom:2px solid white ;
    width: 250px;
    transition: all 0.7s ease;
}
#form-text-area:hover {
    border-bottom:2px solid rgb(255, 131, 49) ;
    width: 100%;
}
#form-btn {
    height: 50px;
    width: 150px;
    margin: 25px;
    margin-left: 0px;
    color: black;
    border: 2px solid black;
    background-color: rgb(255,57,70);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}
#contact-info {
    padding: 50px;
    background-color: white;
    box-shadow: 5px 5px 12px black;

}
#contact-info h1 {
    margin: 20px;
    text-decoration:wavy;
    color: rgb(255,114,94);
}
#contact-info p {
    margin: 20px;
    /* color: rgb(79,174,134); */
}