@media screen and (max-width: 1300px) {
    /* Navbar section */
    #contact-nav {
     display: none;
    }
    #phonenav{
        display: flex;
    }
    #logo {
        display: block;
    }
    #phone-menu {
        display: block;
        height: 5750px;
        /* transition: all 0.5s ease; */

    }
    #divider {
        display: block;
    }
    
    #hamburgur {
        display: inline-block;
        z-index: 100;
        
    }

    #benefits-content ul {
        margin-top: 50px;
    }
    #digital-marketing-image01 {
        background:no-repeat top center/cover url(../static/image/digital-marketing.jpg);
        height:550px;
        margin: auto;
    }
    #digital-marketing1-image p {
        font-size: 22px;
    }
    #ekwik-digital-difference-content-id1 p {
        font-size: 20.5px;
    }
    #ekwik-digital-difference-content-id2 p {
        font-size: 20px;
    }
    
    .slider {
        display: none;
    }
    #menu-section {
        display: none;
    }
    #service-menu {
        display: none;
    }
    #digital-marketing1 p:nth-child(4){
        display: none;
    }
    
    #digital-marketing1 p:nth-child(3){
        display: none;
    }
    
    .cards-image {
        height: 250px;
        width: 250px;
        
       
    }
    .ekwik-digital-difference-content-class p:nth-child(3) {
        display: none;
    }
    #benefits {
        height: 900px;
    }
    
    #benefits-sub-section {
        height: 800px;
    }
    #benefits-image {
        height: 720px;
        background-position:center/cover;
    }
    #benefits-content {
        height: 680px;
        text-align: justify;
    }

    .sub-rating-class {
        margin-left: 5px;
        margin-right: 5px;
    }
    .sub-rating-class h1 {
        font-size: 25px;
    }

    #service-card2 , #service-card4 {
        margin-left: -50px;
    }
    














    #service-card {
        display: block;
        box-shadow: 0px 0px;
        height: 830px;
        align-items: center;
        
    }
    .service-card-image-class {
        margin-top: 30px;
        border-radius: 20px;
    }
    .service-card-class {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
    }
    .service-card-class h2 {
        margin: 20px;
        padding: 10px;
    }
    .service-card-class {
        display: flex;
        width: 80%;
        text-align: center;
        align-items: center;
        margin-left: 100px;
        height: 350px;
    }
    
    #service-menu {
        display: none;
    }

    #layout-section-1 > .section-1-class > p {
        font-size: 18px;
    }
    #layout-section-2 .section-2-content-class > p {
        font-size: 18px;
    }
    #layout-section-1 {
        flex-direction:column-reverse;
        height: max-content;
        width:max-content ;
        width: 90%;
    }
    #section-1-content {
        margin: 0px;
        width: 100%;
        height: max-content;
    }
    .section-2-content-class > h2{
        text-align: center;
    }
    .section-1-class > h2{
        text-align: center;
    }
    #section-1-image {
        margin: 0px;
        width: 100%;
        
    }
    #layout-section-2 {
        flex-direction:column;
        height: max-content;
        width:max-content ;
        width: 90%;
    }
    #section-2-content {
        margin: 0px;
        width: 97%;
        height: max-content;
        text-align: justify;
    }
    #section-2-image {
        margin: 0px;
        width: 100%;
        height: 600px;
        
    }
    #layout-section-3 {
        flex-direction:column-reverse;
        height: max-content;
        width:max-content ;
        width: 90%;
    }
    #section-3-content {
        margin: 0px;
        width: 97%;
        height: max-content;
        text-align: justify;
    }
    #section-3-image {
        margin: 0px;
        width: 100%;
        height: 600px;
        
    }
    #footer-service li:nth-of-type(8){
       visibility: visible;
    }
    #footer-ekwik p:nth-of-type(2) {
        visibility: hidden;
    }
    #section-contact {
        flex-direction: column;
        width:min-content;
        justify-content: center;
        align-items: center;
    }
    #contact-info {
        width: 600px;
    }
    #contact-info h1 {
        margin: 0px;
        font-size: 35px;
    }
    #contact-info p {
        font-size: 18px;
    }
    #contact-form {
        width: 600px;
        margin-left: 45px;
    }
    
    #contact-form h1 {
        font-size: 35px;
    }
    #contact-form p {
        font-size: 18px;
    }
    #portfolio {
        display: block;
        justify-content: center;
        align-items: center;

    }

    #explore{
        position: absolute;
        left: 175px;
        top: 5025px;
    }
    #explore1{
        position: absolute;
        left: 175px;
        top: 5115px;
    }
    #explore2{
        position: absolute;
        left: 175px;
        top: 5205px;
    }
    #explore3{
        position: absolute;
        left: 175px;
        top: 5295px;
    }
    .port {
        margin-bottom: 20px ;
    }
    #portfolio-heading {
        position: absolute;
        top: 4876px;
        margin-bottom: 10px;
    }
    #portfolio-image {
        position: absolute;
        background:no-repeat center center/cover url(../static/image/65431.jpg);
        left: 400px;
        height: 350px;
        width: 500px;
        padding: 10px;
    }

}




